<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>hyshare</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="apple-mobile-web-app-title" content="hyshare">
    <meta name="application-name" content="hyshare">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#3949AB">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#000000">
    <meta name="color-scheme" content="light dark">

    <link href="/assets/styles.css" rel="stylesheet">

    <meta property="og:site_name" content="hyextract">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    
    {% endblock %}
  </body>
</html>