{% extends 'base.njk' %}

{% macro pageNumString() %}{% if volume %}Volume {{volume}} {% endif %}{% if chapter %} Chapter {{chapter}} {% endif %}Page {{page}}{% endmacro %}

{% block head %}
  <meta property="og:url" content="{{base_url}}{{url}}">
  <meta property="og:description" content="{{pageNumString()}}"/>

  <meta property="og:image" content="{{base_url}}/file/{{hash}}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{base_url}}/file/{{hash}}">
  <meta property="og:image:height" content="{{height}}"/>
  <meta property="og:image:width" content="{{width}}"/>
{% endblock %}

{% block body %}
<div class="px-4 py-4 flex w-full h-[calc(100vh-52px)] flex-col place-items-center justify-center" >
  <div class="flex max-h-[calc(100%-48px)]">
    <a href="{{nextUrl or lastUrl}}" class="w-full h-full">
      <img 
        class="max-h-full max-w-full h-auto w-auto inline-block m-auto" 
        src="/file/{{hash}}"
        height="{{height}}"
        width="{{width}}"
      >
    </a>
  </div>
  <div class="btn-group mt-2 no-animation">
    <a class="btn {% if firstUrl == url %} btn-disabled {% endif %}" href="{{firstUrl}}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M18.75 19.5l-7.5-7.5 7.5-7.5m-6 15L5.25 12l7.5-7.5" />
      </svg>
    </a>
    <a class="btn {% if not prevUrl %} btn-disabled {% endif %}" href="{{prevUrl}}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
      </svg>
    </a>
    <a class="btn shrink" href="/comic/{{id}}">{{pageNumString()}}</a>
    <a class="btn {% if not nextUrl %} btn-disabled {% endif %}" href="{{nextUrl}}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
      </svg>
    </a>
    <a class="btn {% if lastUrl == url %} btn-disabled {% endif %}" href="{{lastUrl}}">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 4.5l7.5 7.5-7.5 7.5m-6-15l7.5 7.5-7.5 7.5" />
      </svg>
    </a>
  </div> 
</div>
{% endblock %}
