{% extends 'base.njk' %}

{% block body %}

<div class="hero grow">
  <div class="hero-content text-center flex-col">
    <div class="fill-current w-20">
        {% include "hydrus.svg" %}
      </div>
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">hyshare</h1>
    </div>
  </div>
</div>

{% endblock %}