{% if is_local %}
  {% if file_type == HydrusFileType.Image %}
    {% include "view-image.njk" %}
  {% elif file_type == HydrusFileType.Video %}
    {% include "view-video.njk" %}
  {% elif file_type == HydrusFileType.Audio %}
    {% include "view-audio.njk" %}
  {% elif file_type == HydrusFileType.PDF %}
    {% include "view-pdf.njk" %}
  {% elif file_type == HydrusFileType.Flash %}
    {% include "view-flash.njk" %}
  {% elif file_type == HydrusFileType.TIFF %}
    {% include "view-tiff.njk" %}
  {% elif file_type == HydrusFileType.SVG %}
    {% include "view-svg.njk" %}
  {% elif file_type == HydrusFileType.EPUB %}
    {% include "view-epub.njk" %}
  {% else %}
    {% include "view-unsupported.njk" %}
  {% endif %}
{% else %}
{% include "view-non-local.njk" %}
{% endif %}