{% extends 'view-file-base.njk' %}

{% block media %}
<img 
  class="object-contain max-h-full max-w-full h-auto w-auto inline-block m-auto mt-0 py-4" 
  src="/file/{{hash}}"
  height="{{height}}"
  width="{{width}}"
>
{% endblock %}
