@tailwind base;
@tailwind components;
@tailwind utilities;

html[no-rounded] {
  --rounded-box: 0;
  --rounded-btn: 0;
  --rounded-badge: 0;
}

:root {
  --tag-no-namespace: #2563eb;
  --tag-default-namespace: #475569;
  --tag-system: #d97706;
  --tag-meta: #57534e;
  --tag-creator: #dc2626;
  --tag-studio: #b91c1c;
  --tag-character: #16a34a;
  --tag-person: #15803d;
  --tag-series: #c026d3;
}

@media (prefers-color-scheme: dark) { 
  :root {
    --tag-no-namespace: #60a5fa;
    --tag-default-namespace: #94a3b8;
    --tag-system: #fbbf24;
    --tag-meta: #a8a29e;
    --tag-creator: #f87171;
    --tag-studio: #ef4444;
    --tag-character: #4ade80;
    --tag-person: #22c55e;
    --tag-series: #e879f9;
  }
}

@layer utilities {
  .tag-text[tag] {
    color: var(--tag-no-namespace);
  }
  .tag-text[tag*=":"] {
    color: var(--tag-default-namespace);
  }
  .tag-text[tag^="system:"] {
    color: var(--tag-system);
  }
  .tag-text[tag^="meta:"] {
    color: var(--tag-meta);
  }
  .tag-text[tag^="meta:"] {
    color: var(--tag-meta);
  }
  .tag-text[tag^="creator:"] {
    color: var(--tag-creator);
  }
  .tag-text[tag^="studio:"] {
    color: var(--tag-studio);
  }
  .tag-text[tag^="character:"] {
    color: var(--tag-character);
  }
  .tag-text[tag^="person:"] {
    color: var(--tag-person);
  }
  .tag-text[tag^="series:"] {
    color: var(--tag-series);
  }
}

@media (prefers-color-scheme: dark) {
  html[dark-theme="black"] {
    --p: 0 2% 20%;
    --pf: 0 2% 16%;
    --sf: 0 2% 16%;
    --af: 0 2% 16%;
    --bc: 0 0% 80%;
    --pc: 0 5% 84%;
    --sc: 0 5% 84%;
    --ac: 0 5% 84%;
    --nc: 0 3% 83%;
    --inc: 240 100% 90%;
    --suc: 120 100% 85%;
    --wac: 60 100% 10%;
    --erc: 0 100% 90%;
    --s: 0 2% 20%;
    --a: 0 2% 20%;
    --b1: 0 0% 0%;
    --b2: 0 0% 5%;
    --b3: 0 2% 10%;
    --n: 0 1% 15%;
    --nf: 0 2% 20%;
    --in: 240 100% 50%;
    --su: 120 100% 25%;
    --wa: 60 100% 50%;
    --er: 0 100% 50%;
  }
}